{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h2>{{ book.title }}</h2>
  <img src="{{ book.image }}" class="skull img-thumbnail" style="width:250px;height:'100%';">
  <br>
  <p><strong>Author:</strong> <a href="{% url 'author-detail' book.author.slug %}">{{ book.author }}</a></p> 
  {% autoescape off %}
    {{ pos }}
  {% endautoescape %}
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Language:</strong> {{ book.language }}</p>  
  <p><strong>Genres:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% if perms.catalog.can_mark_returned %}  
    <a href="{% url 'book_update' book.slug %}" class="btn btn-primary">Update</a>
    <a href="{% url 'book_delete' book.slug %}" class="btn btn-primary">Remove</a>
  {% endif %} 
  <div>
    <hr>
    <h4>Copies:</h4>
    {% for copy in book.bookinstance_set.all %}
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}