.nav{
	padding: 20px;
	border: 1px solid white;
	margin-top: 15px;
	background-color: #222222; 
}

a{
	color: white !important;
}

strong {
	color: white;
}

b{
	color: black;
}

.container{
	padding: 20px;
	margin-top: 20px;
	background-color:#100109;
	margin-bottom: 20px;
}

.caixa-principal{
	border: 1px solid white;
	box-shadow: 5px 5px 5px #222222;
	border-radius: 14px;
}

.titulo{
	text-shadow:2px 2px #222222, 0 0 4px black;
	color:#908d94;
	font-weight: bold;
	font-style: oblique;
}

.list-group-item{
	margin-bottom:4px;
}

hr{
	background-color: white;
}

.btn-primary{
	margin-top: 10px;
	background-color: gray !important;
	border: 1px solid white !important;
}

.page-current{
	background-color:#222222 !important;
}

.livro{
	color: white;
}

.skull{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-group-horizontal .list-group-item {
	margin-bottom: 4px !important;
}

form{
	padding: 20px;
	border: 1px solid white;
	background-color: #222222; 
}

input {
	width: 100%;
	padding: 6px 12px;
	border: 1px solid black;
	border-radius: 10px;
	color: black;
}

input:focus{
	background-color: gray;
}

textarea{
	resize: none;
	display: block;
}

.form-group > label:nth-child(6){
	display: block;
}

#id_genre, #id_language, #id_author{
	display: block;
}

.form-group > label:nth-child(14){
	display: block;
	margin-top: 5px;
}

.entities {
    line-height: 2;
}

[data-entity] {
    padding: 0.25em 0.35em;
     margin: 0px 0.25em;
     line-height: 1;
     display: inline-block;
     border-radius: 0.25em;
     border: 1px solid;
}

[data-entity]::after {
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}

[data-entity][data-entity="person"] {
    background: rgba(166, 226, 45, 0.2);
    border-color: rgb(166, 226, 45);
}

[data-entity][data-entity="person"]::after {
    background: rgb(166, 226, 45);
}

[data-entity][data-entity="org"] {
    background: rgba(67, 198, 252, 0.2);
    border-color: rgb(67, 198, 252);
}

[data-entity][data-entity="org"]::after {
    background: rgb(67, 198, 252);
}

[data-entity][data-entity="date"] {
    background: rgba(47, 187, 171, 0.2);
    border-color: rgb(47, 187, 171);
}

[data-entity][data-entity="date"]::after {
    background: rgb(47, 187, 171);
}